<%= flash[:notice] %>
<%= flash[:notice4] %>

<div class="col-md-8 offset-md-1">
 <div class="row">
  <div class="col-md-3">
   <%= render 'userinfo', user: @user %>

    <%= render 'profile', user: @user %>


   <%= render 'books/newbook', book: @book %>

  </div>

  <div class="col-md-1"></div>

  <div class="col-md-8">
   <h2>Books</h2>
   <table class="table">
    <thead>
     <tr>
      <th colspan= "1"></th>
      <th>Title</th>
      <th>Opinion</th>
     </tr>
    </thead>

    <tbody>
     <% @books.each do |f| %>
     <tr>
       <td><%= link_to user_path(@user) do %>
        <%= image_tag @user.get_profile_image %>
        <% end %>
       </td>
       <td><%= link_to f.title, book_path(f.id) %></td>
       <td><%= f.body %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>
