<div>
  <h2>User info</h2>
   <table>
     <tr><th>name</th><td><%=  %></td></tr>
     <tr><th>introduction</th><td><%=  %></td></tr>
   </table>
</div>

<div>
 <p><%= link_to "edit profile" %></p>
</div>

<h1>New book</h1>
<%= form_with model: @book do |f|%>
 <h4>Title</h4>
  <%= f.text_field :title %>
 <h4>Opinion</h4>
  <p><%= f.text_area :body %></p>
 <%= f.submit 'Create book' %>
<% end %>


<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th colspan= "1"></th>
      <th><h4>Title</h4></th>
      <th><h4>Opinion</h4></th>
    </tr>
  </thead>

  <tbody>
     <% @books.each do |f| %>
     <tr>
       <td><%= f.user.name %></td>
       <td><%= link_to f.title, book_path(f.id) %></td>
       <td><%= f.body %></td>
     </tr>
     <% end %>
  </tbody>
</table>
