<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this object from being saved:
 <ul>
  <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>


<div class="container">
 <div class="row">
  <div class="col-md-3">
   <h2>User info</h2>
    <%= image_tag @bookss.get_profile_image %>
     <table class="table">
      <tr><th>name</th><td><%= @bookss.name %></td></tr>
      <tr><th>introduction</th><td><%= @bookss.introduction %></td></tr>
     </table>

    <%= render 'users/profile', user: @bookss.id %>



   <h2 class="mt-3">New book</h2>
    <%= form_with model: @book do |f|%>
    <p>Title</p>
     <%= f.text_field :title %>
    <p>Opinion</p>
    <p><%= f.text_area :body %></p>
     <%= f.submit 'Create book' %>
    <% end %>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-8">
   <h2>Books</h2>
    <table class="table">
     <thead>
      <tr>
       <th colspan= "1"></th>
       <th><h4>Title</h4></th>
       <th><h4>Opinion</h4></th>
      </tr>
     </thead>

     <tbody>
      <% @books.each do |f| %>
       <tr>
        <td><%= link_to user_path(f.user.id) do %>
            <%= image_tag f.user.get_profile_image %>
           <% end %>
           <!--写真、動画などはdo-endにしたら繋がることがある-->
        </td>
        <td><%= link_to f.title, book_path(f.id) %></td>
        <td><%= f.body %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
  </div>
 </div>
</div>